<div class="mobile-app-wrapper">
  <div class="mobile-app-title">aplikacja
  </div>
  <div class="mobile-app-text">
    Lorem ipsum dolor sit amet enim.
    Etiam ullamcorper. Suspendisse a pellentesque dui, non felis.
  </div>
  <div class="mobile-app-icon-wrapper">
    <div class="mobile-app-icon"><img src="../../assets/images/android-icon.png"
        alt=""></div>
    <div class="mobile-app-icon"><img src="../../assets/images/apple-icon.png"
        alt=""></div>
    <div class="mobile-app-icon"><img src="../../assets/images/windows-icon.png"
        alt=""></div>
  </div>
</div>