@import '../../assets/scss/shared';

.mobile-app-wrapper {
}

.mobile-app-title {
  margin: 0;
  @include style-text;
  font-size: 36px;
  font-weight: 600;
  color: $purple;
}

.mobile-app-text {
  color: #757575;
  font-size: 19px;
  margin-top: 10px;
  font-weight: 400;
  max-width: 365px;
}

.mobile-app-icon-wrapper {
  display: flex;
  align-items: center;
  margin-top: 130px;
  .mobile-app-icon {
    margin: 0 5px;
  }
}
