$red: #fb1d1d;
$green: #1fc702;
$blue: #2c8fbd;
$dark-blue: #0059fd;
$olive-green: #84b82a;
$purple: #675190;
$dark-purple: #4d3c6c;
$grey: #5c5c5c;
$dark-grey: #262626;
$almost-black: #1a1a1a;
$pink: #aa2755;

$title-font-size: 40px;
$title-font-size-mobile: 36px;

@mixin style-text {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
}
