@import 'colors';
$width-long: 66%;
$width-short: 33%;
$width-full: 100%;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

#nav-bar {
  height: 50px;
  width: $width-full;
  background: yellowgreen;
}

#get-more {
  height: 485px;
  width: $width-long;
}

#vod {
  height: 485px;
  width: $width-short;
  background: $blue;
}

#new-packet {
  height: 400px;
  width: $width-long;
  background: $green;
}

#now-online {
  height: 400px;
  width: $width-short;
  background: $dark-blue;
}

#lte-packet {
  height: 350px;
  width: 34%;
  background: $red;
}

#support {
  height: 350px;
  width: $width-short;
  background: $blue;
}

#mobile-app {
  height: 350px;
  width: $width-short;
  background: $green;
}

#footer {
  height: 97px;
  width: $width-full;
  background: royalblue;
}
