@import 'shared';
$width-long: 66%;
$width-short: 33%;
$width-full: 100%;

@mixin mobile-width-full {
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: black;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

#header {
  height: 80px;
  width: $width-full;
  background: $almost-black;
}

#get-more {
  background-image: url('../../assets/images/get-more.png');
  background-repeat: no-repeat;
  background-size: auto;
  box-sizing: border-box;
  height: 485px;
  width: $width-long;
}

#vod {
  height: 485px;
  width: $width-short + 1%;
  overflow: hidden;
}

#new-packet {
  height: 420px;
  width: $width-long;
  background: $purple;
}

#now-online {
  height: 420px;
  width: $width-short + 1%;
  background: $olive-green;
  box-sizing: border-box;
  overflow: hidden;
}

#lte-packet {
  height: 340px;
  width: $width-short;
  background: $dark-grey;
  box-sizing: border-box;
  padding: 30px;
}

#support {
  background-image: url('../../assets/images/support.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  box-sizing: border-box;
  padding: 30px;
  height: 340px;
  width: $width-short;
}

#mobile-app {
  background-image: url('../../assets/images/mobile-app.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 30px;
  height: 340px;
  width: $width-short + 1%;
}

#footer {
  height: 210px;
  width: $width-full;
  background: $almost-black;
}

@media only screen and (max-width: 480px) {
  #header,
  #get-more,
  #vod,
  #new-packet,
  #now-online,
  #lte-packet,
  #support,
  #mobile-app,
  #footer {
    @include mobile-width-full;
  }
}
