<div class="lte-packet-wrapper">
  <div class="lte-packet-title">
    pakiet 20 GB LTE
  </div>
  <div class="lte-packet-subtitle">
    promocja
  </div>

  <div class="lte-packet-text">
    <div>Dla tych co nie wyobrażają sobie życia<br /> bez Internetu:</div>
    <ul>
      <li>oglądaj filmy umieszczone w sieci</li>
      <li>ściągaj duże pliki</li>
      <li>korzystaj z poczty, komunikatora</li>
      <li>surfuj swobodnie</li>
    </ul>
  </div>
  <div class="lte-packet-footer">
    <div>swoboda <br /> i mobilność za</div> <span class="lte-packet-price">50</span><span>zł</span>
  </div>
</div>