@import '../../assets/scss/shared';

.lte-packet-wrapper {
  @include style-text;
}

.lte-packet-title {
  color: $olive-green;
  font-size: $title-font-size;
  font-weight: 700;
}

.lte-packet-subtitle {
  color: $purple;
  font-size: 14px;
  font-weight: 600;
  margin-top: -5px;
}

.lte-packet-text {
  font-size: 17px;
  text-transform: none;
  font-weight: 300;
  margin: 15px 0;
  width: 100%;
  div {
    margin: 10px 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li::before {
    content: '■';
    font-family: 'Arial Black';
    color: $olive-green;
    padding-right: 5px;
  }
}

.lte-packet-footer {
  color: $olive-green;
  font-weight: 700;
  font-size: 16px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: -15px 0;
  .lte-packet-price {
    font-size: 48px;
    position: relative;
    top: 12px;
    margin: 2px;
  }
  span {
    color: $purple;
  }
}

@media only screen and (max-width: 480px) {
  .lte-packet-title {
    font-size: 38px;
  }
}
