@import '../../assets/scss/shared';

.support-wrapper {
  width: 100%;
  height: 100%;
  @include style-text;
}

.support-title {
  font-size: $title-font-size;
  font-weight: 700;
}

.support-subtitle {
  color: $olive-green;
  font-size: 14px;
  font-weight: 600;
  margin-top: -6px;
}

.support-avatar-text-wrapper {
  margin: 15px 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  .support-avatar {
    width: 140px;
    margin-right: 15px;
  }
  .support-text-icon-wrapper {
    display: flex;
    align-items: center;
    img {
      width: 30px;
      object-fit: none;
    }
  }
  .support-separator {
    width: 100%;
    border-top: 1px solid white;
    opacity: 0.1;
    margin: 15px 0;
  }
}

.support-text2 {
  text-align: center;
  color: $olive-green;
  text-transform: none;
  font-size: 14px;
  margin-top: 15px;
}
