<div class="support-wrapper">
  <div class="support-title">nasz support</div>
  <div class="support-subtitle">propozycje naszego tv-maniaka<br /> na weekend</div>
  <div class="support-avatar-text-wrapper">
    <div class="support-avatar">
      <img src="../../assets/images/support-avatar.png"
        alt="avatar">
    </div>
    <div>
      <div class="support-text-icon-wrapper">
        <div class="support-text">zobacz co Kuba znalazł
          ciekawego w tv na weekend</div>
        <div class="support-arrow-icon">
          <img src="../../assets/images/rounded-triangle-icon.png"
            alt="arrow"></div>
      </div>
      <div class="support-text-icon-wrapper">
        <div class="support-text">podyskutuj z nim o filmach już <br /> w
          piątek 15.09.2014</div>
        <div class="support-message-icon">
          <img src="../../assets/images/message-icon.png"
            alt="message"></div>
      </div>
    </div>
  </div>
  <div class="support-text2">Zostań naszym ekspertem i poprowadź
    przedweekendowy chat z użytkownikami</div>
</div>