<div class='get-more-wrapper'>
  <h1 class='get-more-header'>Zyskaj więcej</h1>
  <div class="get-more-icons">
    <img src="../../assets/images/mouse-icon.png" />
    <img class="get-more-plus-icon"
      src="../../assets/images/plus-icon.png" />
    <img src="../../assets/images/present-icon.png" /></div>
  <div class="get-more-text">Kup internet,</div>
  <div class="get-more-text1">a<span class="get-more-hbo">hbo</span><span class="get-more-go">go</span></div>
  <div class="get-more-text2">dostaniesz za</div>
  <div class="get-more-text3">1<span>zł</span></div>
</div>