@import '../../assets/scss/shared';

.get-more-wrapper {
  position: relative;
  top: -470px;
  left: 30px;
  width: 740px;
}

.get-more-header {
  color: white;
  text-transform: uppercase;
  font-size: $title-font-size;
  font-weight: 600;
  margin-bottom: 25%;
}

.get-more-icon-wrapper {
  margin: 10px 0;
  .get-more-plus-icon {
    margin: 15px 5px;
    width: 15px;
  }
}

.get-more-text {
  color: white;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 700;
}

.get-more-text1 {
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 42px;
  .get-more-hbo {
    color: $purple;
    font-weight: 600;
  }
  .get-more-go {
    color: $purple;
    margin-left: -10px;
  }
}

.get-more-text2 {
  color: white;
  text-transform: uppercase;
  font-size: 26px;
}

.get-more-text3 {
  color: $pink;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 900;
  margin-top: -100px;
  margin-left: 200px;
  position: relative;
  top: 0px;
  left: 0px;
  span {
    font-size: 40px;
    font-weight: 600;
  }
}

.get-more-slider {
  position: relative;
  top: 0;
  left: 0;
  width: 800px;
  height: 485px;
  background: white;
  display: flex;
  transition: all 300ms ease 0s;
  z-index: -1;
}
.get-more-dots-wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -30px;
  img {
    margin: 3px;
  }
  .active {
    background-image: url('../../assets/images/dot-active-icon.png');
  }
}

.get-more-slider {
  position: relative;
  top: 0;
  left: 0;
  width: 800px;
  height: 485px;
  transition: all 1s ease 0s;
  z-index: -1;
}

@media only screen and (max-width: 480px) {
  .get-more-slider {
    width: 479px;
    height: 485px;
    img {
      width: 480px;
    }
  }
  .get-more-dots-wrapper {
    justify-content: flex-start;
    top: -15px;
    left: 110px;
    .active {
      background-repeat: no-repeat;
      background-size: contain;
    }
    img {
      margin: 5px;
      width: 15px;
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .get-more-dots-wrapper {
    justify-content: flex-start;
    top: -15px;
    left: 345px;
    .active {
      background-repeat: no-repeat;
      background-size: contain;
    }
    img {
      margin: 5px;
      width: 12px;
    }
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .get-more-dots-wrapper {
    width: 60vw;
  }
}
