<div class='get-more-wrapper'>
  <div class='get-more-header'>Zyskaj więcej</div>
  <div class="get-more-icon-wrapper">
    <img src="../../assets/images/mouse-icon.png" />
    <img class="get-more-plus-icon"
      src="../../assets/images/plus-icon.png" />
    <img src="../../assets/images/present-icon.png" /></div>
  <div class="get-more-text">Kup internet,</div>
  <div class="get-more-text1">a
    <span class="get-more-hbo">hbo</span>
    <span class="get-more-go">go</span>
  </div>
  <div class="get-more-text2">dostaniesz za</div>
  <div class="get-more-text3">1<span>zł</span>
    <img class="get-more-dots-icon"
      src="../../assets/images/dots-icon.png"
      alt="dots-icon"></div>

</div>