@import '../../assets/scss/shared';

.get-more-wrapper {
  width: 100%;
  height: 100%;
}

.get-more-header {
  color: white;
  text-transform: uppercase;
  font-size: $title-font-size;
  font-weight: 600;
  margin-bottom: 25%;
}

.get-more-icon-wrapper {
  margin: 10px 0;
  .get-more-plus-icon {
    margin: 15px 5px;
    width: 15px;
  }
}

.get-more-text {
  color: white;
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 700;
}

.get-more-text1 {
  color: white;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 42px;
  .get-more-hbo {
    color: $purple;
    font-weight: 600;
  }
  .get-more-go {
    color: $purple;
    margin-left: -10px;
  }
}

.get-more-text2 {
  color: white;
  text-transform: uppercase;
  font-size: 26px;
}

.get-more-text3 {
  color: $pink;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 900;
  margin-top: -115px;
  margin-left: 200px;
  span {
    font-size: 40px;
    font-weight: 600;
  }
  .get-more-dots-icon {
    float: right;
    margin-top: 105px;
  }
}
