<div class='get-more-slider'
  ng-style="{'transform': 'translateX(-' + moveLength + 'px)'}">
  <img ng-class="dotActive('one')"
    src="../../assets/images/get-more-slider.jpg" />
  <img ng-class="dotActive('two')"
    src="../../assets/images/get-more-slider1.jpg" />
  <img ng-class="dotActive('three')"
    src="../../assets/images/get-more-slider2.jpg" />
</div>
<div class='get-more-wrapper'>
  <div class='get-more-header'>Zyskaj więcej</div>
  <div class="get-more-icon-wrapper">
    <img src="../../assets/images/mouse-icon.png" />
    <img class="get-more-plus-icon"
      src="../../assets/images/plus-icon.png" />
    <img src="../../assets/images/present-icon.png" /></div>
  <div class="get-more-text">Kup internet,</div>
  <div class="get-more-text1">a
    <span class="get-more-hbo">hbo</span>
    <span class="get-more-go">go</span>
  </div>
  <div class="get-more-text2">dostaniesz za</div>
  <div class="get-more-text3">1<span>zł</span>
  </div>
  <div class="get-more-dots-wrapper">
    <img ng-click="scrollToPanel('one')"
      ng-class="dotActive('one')"
      src="../../assets/images/dot-icon.png"
      alt="dots-icon">
    <img ng-click="scrollToPanel('two')"
      ng-class="dotActive('two')"
      src="../../assets/images/dot-icon.png"
      alt="dots-icon1">
    <img ng-click="scrollToPanel('three')"
      ng-class="dotActive('three')"
      src="../../assets/images/dot-icon.png"
      alt="dots-icon2">
  </div>
</div>