<div class='vod-wrapper'>
  <div class="vod-title">
    VOD <span>Video na żądanie</span>
  </div>
  <div class="vod-controls-wrapper">
    <img src="../../assets/images/rounded-triangle-left-icon.png"
      alt="left-icon">
    <img src="../../assets/images/rounded-triangle-right-icon.png"
      alt="right-icon">
  </div>
  <div class="vod-footer">
    <div class="vod-subtitle">Kapitan Ameryka:<br /> Zimowy żołnierz
      <div class="vod-label">Nowości - Akcja<span>14,00 zł</span></div>
    </div>
    <div class="vod-want-to-see">
      <div>film</div>
      <div>obejrzy</div>
      <span>125</span>
      <img src="../../assets/images/people-icon.png"
        alt="people-icon">
    </div>
  </div>

</div>