@import '../../assets/scss/shared';

$text-color: #909090;
$width-long: 66%;
$title-font: 32px;

.footer-wrapper {
  width: 1200px;
  display: flex;
  margin: 30px auto;
  padding-top: 10px;
  color: $text-color;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
}

.footer-content {
  width: $width-long;
  .footer-content-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .footer-content-app {
      .footer-download-app {
        display: flex;
        color: $purple;
        margin: 10px 0;
        img {
          width: 66px;
          height: 44px;
          margin-right: 5px;
        }
        span {
          font-size: $title-font;
          font-weight: 600;
        }
      }
    }
    .footer-tel-info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      span {
        color: $olive-green;
        margin-top: 10px;
      }
      .footer-tel {
        color: $olive-green;
        font-size: $title-font;
        font-weight: 600;
        text-align: right;
        div {
          margin-bottom: -15px;
        }
        span {
          font-size: 12px;
          font-weight: 400;
          color: $text-color;
          text-transform: none;
        }
      }
    }
  }
  .footer-content-separator {
    width: 100%;
    border-top: 1px solid $text-color;
    margin-top: 15px;
    margin-bottom: 10px;
    opacity: 0.4;
  }
  .footer-content-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-content-links-text {
      display: flex;
      div {
        margin: 0px 10px;
      }
    }
  }
}
.footer-content-right {
  width: 34%;
  text-align: right;
  .footer-content-tel {
    color: $olive-green;
    margin-top: 10px;
    img {
      margin: 0 5px;
    }
    span {
      font-size: $title-font;
      font-weight: 600;
    }
  }
  .footer-content-mob-tel {
    margin: 15px 0;
    span {
      color: $olive-green;
      font-size: 22px;
      font-weight: 600;
    }
    div {
      font-size: 12px;
      text-transform: none;
    }
  }
}

@media only screen and (max-width: 480px) {
  .footer-wrapper {
    margin: 0;
  }

  .footer-wrapper,
  .footer-content,
  .footer-content-links,
  .footer-content-right {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .footer-content {
    .footer-content-top {
      justify-content: center;
      .footer-tel-info {
        align-items: center;
      }
    }

    .footer-content-links {
      justify-content: center;
      .footer-content-icons {
        margin: 10px;
        img {
          margin: 0 5px;
        }
      }
    }
  }
  .footer-content-right {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .footer-content-tel {
      text-align: center;
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .footer-wrapper {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 15px;
    padding-top: 25px;
  }

  .footer-content {
    .footer-content-top {
      flex-wrap: nowrap;
    }
  }
}
