<div class="footer-wrapper">
  <div class="footer-content">
    <div class="footer-content-top">
      <div class="footer-content-app">
        aplikacja vectra<br />
        <span class="footer-download-app">
          <img src="../../assets/images/tablet-app-icon.png"
            alt="tablet-icon">
          <div>pobierz <br /><span>aplikację</span></div>
        </span>
      </div>
      <div class="footer-tel-info">
        infolinia sprzedażowa
        <span>zadzwoń lub wyślij SMS</span>
        <div class="footer-tel">
          <div>
            <img src="../../assets/images/green-tele-icon.png"
              alt="tel-icon">
            <img src="../../assets/images/green-mob-icon.png"
              alt="mob-icon"
              style="margin-right: 5px;">
            601 601 601
          </div>
          <span>(wg stawek operatorów)</span>
        </div>
      </div>
    </div>
    <div class="footer-content-separator"></div>
    <div class="footer-content-links">
      <div class="footer-content-links-text">
        <div>o nas</div>
        <div>kontakt</div>
        <div>kariera</div>
        <div>dla mediów</div>
      </div>
      <div class="footer-content-icons">
        <img src="../../assets/images/facebook-icon.png"
          alt="facebook-icon">
        <img src="../../assets/images/twitter-icon.png"
          alt="twitter-icon">
        <img src="../../assets/images/youtube-icon.png"
          alt="youtube-icon">
      </div>
    </div>
  </div>
  <div class="footer-content-right">
    <div class="footer-content-support">centrum obsługi klienta</div>
    <div class="footer-content-tel">
      zadzwoń<br />
      <img src="../../assets/images/green-tele-icon.png"
        alt="tel-icon">
      <span>800 080 800</span>
    </div>
    <div class="footer-content-mob-tel">
      z telefonu komórkowego<br /> <span>58 500 65 00</span>
      <div>(wg stawek operatorów)</div>
    </div>
  </div>
</div>