@import '../../assets/scss/shared';

$menu-btn: #3c3c3c;
$hr-color: #272727;
$separator-color: #313131;

.footer-wrapper {
  width: 1200px;
}

@media only screen and (max-width: 480px) {
  .footer-wrapper {
    width: 100%;
    margin: 0;
  }
}
