<div class="now-online-wrapper">
  <div class="now-online-header">
    <div class="now-online-title"> teraz<br /> w tv online</div>
    <div class="now-online-separator"></div>
    <div class="now-online-watching">
      teraz<span>ogląda</span><span class="now-online-counter">258</span>
      <img src="../../assets/images/people-icon.png"
        alt="people-icon">
    </div>
  </div>

  <div class="now-online-img-wrapper">
    <div class="now-online-controls-wrapper">
      <img class="left-icon"
        src="../../assets/images/rounded-triangle-left-icon.png"
        alt="now-online">
      <img class="play-icon"
        src="../../assets/images/play-icon.png"
        alt="now-online">
      <img class="right-icon"
        src="../../assets/images/rounded-triangle-right-icon.png"
        alt="now-online">
    </div>
    <div class="now-online-text">Anatomia magii <br /><span>discovery channel</span></div>
  </div>
</div>