@import '../../assets/scss/shared';

.now-online-wrapper {
  height: 420px;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
}
.now-online-header {
  display: flex;
  margin: 7px 20px;
  .now-online-title {
    font-size: $title-font-size;
    font-weight: 700;
    margin: 8px 12px;
    div {
      margin-bottom: -10px;
    }
  }
  .now-online-separator {
    border-left: 1px solid #b5d47f;
    margin: 15px 20px;
    height: 80px;
  }
  .now-online-watching {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    .now-online-counter {
      font-size: 22px;
      font-weight: 700;
      margin: 5px 0;
    }
  }
}

.now-online-slider {
  max-height: 290px;
  transition: all 1s ease 0s;
  display: flex;
  .now-online-slider-image {
    width: 408px;
    height: 290px;
  }
  .now-online-content {
    position: relative;
    top: -490px;
    left: 0px;
    padding: 30px;
  }
}

.now-online-rectangle {
  position: relative;
  top: -312px;
  left: 183px;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.now-online-controls-wrapper {
  position: relative;
  top: -230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
}

.now-online-text {
  text-transform: none;
  text-align: center;
  position: relative;
  top: 380px;
  div {
    margin-bottom: -5px;
  }
  span {
    text-transform: uppercase;
    color: $olive-green;
    font-size: 14px;
    font-weight: 600;
  }
}

@mixin title-mobile-font-size {
  .now-online-header {
    .now-online-title {
      font-size: $title-font-size-mobile;
    }
  }
}

@media only screen and (max-width: 480px) {
  @include title-mobile-font-size;

  .now-online-slider .now-online-slider-image {
    width: 100vw;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  @include title-mobile-font-size;

  .now-online-slider .now-online-slider-image {
    width: 50vw;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  @include title-mobile-font-size;

  .now-online-header {
    justify-content: center;
    align-items: center;
    .now-online-title {
      margin: 0;
    }
    .now-online-separator {
      margin: 10px 10px;
    }
  }

  .now-online-slider .now-online-slider-image {
    width: 34vw;
  }
}
