@import '../../assets/scss/shared';

.now-online-wrapper {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
}
.now-online-header {
  display: flex;
  margin: 12px 20px;
  .now-online-title {
    font-size: $title-font-size;
    font-weight: 700;
    margin: 8px 12px;
  }
  .now-online-separator {
    border: 1px solid #b5d47f;
    margin: 0 20px;
  }
  .now-online-watching {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    .now-online-counter {
      font-size: 22px;
      font-weight: 700;
      margin: 5px 0;
    }
  }
}

.now-online-slider {
  height: 485px;
  transition: all 1s ease 0s;
  display: flex;
}
.now-online-slider-image {
  width: 408px;
}

.now-online-content {
  position: relative;
  top: -490px;
  left: 0px;
  padding: 30px;
}

.now-online-controls-wrapper {
  position: relative;
  top: -385px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
}

.now-online-text {
  text-transform: none;
  text-align: center;
  position: relative;
  top: 365px;
  span {
    text-transform: uppercase;
    color: $olive-green;
    font-size: 14px;
    font-weight: 600;
  }
}
