<div class="new-packet-wrapper">
  <div class="new-packet-title">
    stwórz swój własny pakiet
  </div>
  <div class="new-packet-subtitle">telewizja - internet - telefon</div>
  <div class="new-packet-icons">
    <div class="new-packet-icon-text-wrapper"><img src="../../assets/images/tv-icon.png"
        alt="tv-icon">
      <div class="new-packet-text">wybierz<br />
        <span>ulubione kanały TV</span></div>
    </div>
    <img class="new-packet-plus"
      src="../../assets/images/plus-icon.png"
      alt="plus-icon">
    <div class="new-packet-icon-text-wrapper">
      <img src="../../assets/images/net-icon.png"
        alt="net-icon">
      <div class="new-packet-text">wybierz<br />
        <span>prędkość internetu</span></div>
    </div>
    <img class="new-packet-plus new-packet-plus-to-hide"
      src="../../assets/images/plus-icon.png"
      alt="plus-icon">
    <div class="new-packet-icon-text-wrapper">
      <img src="../../assets/images/tele-icon.png"
        alt="tele-icon">
      <div class="new-packet-text">wybierz<br />
        <span>ilość minut na rozmowy</span></div>
    </div>
    <img class="new-packet-plus"
      src="../../assets/images/plus-icon.png"
      alt="plus-icon">
    <div class="new-packet-icon-text-wrapper"><img src="../../assets/images/mobile-net-icon.png"
        alt="mobile-net-icon">
      <div class="new-packet-text">wybierz<br />
        <span>internet mobilny</span></div>
    </div>
  </div>
  <div class="new-packet-create-button">
    <span>stwórz pakiet</span>
  </div>
  <div class="new-packet-create-desc">
    lub wybierz pakiet, przygotowany przez nas
  </div>
</div>